{% extends 'myblog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div style="text-align:center; margin:0px auto">

    <h2>Sign in</h2>
  <form method="post" style="width:25%; margin:0px auto">
    {% csrf_token %}
      <table> {{ form|crispy }} </table>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#343a40!important; border-color:#343a40!important">Sign in</button>
  </form>

<br>

   <p>Need an account? <a href=" {% url 'myblog:register' %}">Click here</a> to register.</p>

</div>
{% endblock %}

